.tagsContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.tagsList {
  display: inline-block;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0;
}

.tag {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #999;
  display: inline-block;
  padding: 5px;
  color: #000;
  border-radius: 10px;
  font-size: 14px;
}

.tag:hover {
  /* cursor: pointer; */
  color: #000;
  border-color: #000;
}

.hrLine {
  padding: 10px 0;
}

.itemImage {
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.itemInfo {
  text-align: center;
}

.itemDescription {
  color: #888;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
